# Node.js dependencies
node_modules/

# Yarn lockfile 


# Vite cache
dist/
.vite/
.cache/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# System files
.DS_Store
Thumbs.db

# VS Code settings
.vscode/

# Environment variables
.env
.env.*  # like .env.local, .env.production

# Optional: Mac/Windows system files
*.swp
*.swo
*.bak

# TypeScript build output (if any)
*.tsbuildinfo
